<!DOCTYPE html>
<html>
<head>

    <title>万先丰人力资源平台</title>

    <link rel="shortcut icon" href="~/favicon.ico" />

    @RenderSection("links", required: false)

</head>
<body>
    
    @RenderBody()

    @RenderSection("scripts", required: false)

</body>
</html>
