<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <appSettings>
    
    <add key="TransportType" value="RabbitMq" />
    <add key="BaseQueueName" value="as" />
    <add key="RabbitMqBaseUri" value="rabbitmq://localhost/" />
    <add key="RabbitMqUserName" value="as" />
    <add key="RabbitMqUserPassword" value="as" />
    <add key="ASConnectionString" value="Data Source=20170319-201955.huading.com;Initial Catalog=AuthorizationServer;Persist Security Info=True;User ID=sa;Password=123123123;MultipleActiveResultSets=True" />

    <!-- Release -->    
    <!--<add key="TransportType" value="RabbitMq" />
    <add key="BaseQueueName" value="as" />
    <add key="RabbitMqBaseUri" value="rabbitmq://172.16.11.143/" />
    <add key="RabbitMqUserName" value="as" />
    <add key="RabbitMqUserPassword" value="as" />    
    <add key="ASConnectionString" value="Data Source=172.16.11.144;Initial Catalog=AuthorizationServer;Persist Security Info=True;User ID=sa;Password=X1Au0hW9;MultipleActiveResultSets=True" />-->    
    
  </appSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>